body {
  background-color: #fff; /* White background */
  color: #333; /* Dark text color */
}

.App {
  text-align: center;
  margin-top: 20px;
}

.BlogContainer {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff; /* White background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.BlogPostCard {
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.SelectedPost {
  margin-top: 20px;

  h4 {
    margin-bottom: 10px;
  }
}
